<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDo from Backbonejs</title>
  <style>
    .completed {
      text-decoration: line-through;
      color: gray;
    }
  </style>
</head>
<body>
  <h1>Tasks</h1>

  <form action="" id="addTask">
    <input type="text" id="title">
    <input type="submit" value="add">
    <span id="error"></span>
  </form>

  <div id="tasks"></div>
  <p>Tasks left: <span id="count"></span></p>
  <script type="text/template" id="task-template">
    <input type="checkbox" class="toggle" <%= completed ? 'checked': ''  %>>
    <span class="<%= completed ? 'completed' : '' %>">
      <%- title %>
    </span>
    <span class="delete">[x]</span>
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.0/backbone-min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>